
*{
  max-width: 100% !important;
}
img{
  max-width: 100% !important;
}
.ContentEditableMain{
  border: 3px dashed gray;
  border-radius: 4px;
}
.ContentEditable{
  max-width: 100% !important;
  min-height: 5rem;
  padding: 9px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ContentEditable:focus{
  outline: none;
}
